


.slider {
     width: 100%;
   height: 100%; 
    object-fit: cover;
    position: relative;
   
    
}

.navbar{
  color: white;
  background-color: black;
}


.nav-link {
  color: white;
}
.navbar-brand{
  color: white;
}

.image-one{
  
  padding: 0px 100px;
}
.slider > img {
    filter: brightness(50%);
}
.slider-text{
    
    top: 100px;
    left: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    padding-top: 100px;
    left: 20px;
}

.slider-text > h1{
    color: white;
    line-height: 70px;
    font-size: 50px;
    font-weight: bold;
}
.slider-text > p{
    color: white;
   


}
.hr{
    background-color: white;
    color: white;
    font-weight: bold;
}


.slider-text > button{
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;}
    

 @media only screen and (max-width:625px){
    .slider-text{
        position: absolute;
   top: 0px;
    left: 0px;
   
  
        
    }  
     input{
      display: none;
    }

    
.image-one{
 
  padding: 0px 0px;
}
    
    
    .slider-text > h1{
        color: white;
        line-height: 42px;
        font-size: 34px;
       
    }
    .slider-text > p{
        color: white;
      
   
    
    }
    
    
    .slider-text > button{
        padding: 10px 15px;
        border: none;
        background-color: red;
        color: white;
        
    }

   
}

.coming {
    font-weight: lighter;
}
.main{
     display: flex; 
    justify-content: space-between !important;
    color: white; 
    ;
    margin: 100px 30px;
}

@media only screen and (max-width:870px){
    .main{
        display: block; 
       text-align: justify;
       color: white; 
       margin-top: 100px;
   }  
} 


@media only screen and (max-width:350px){
    
.slider{
    width: 100%;
  height: 100%; 
   object-fit: cover;
   position: relative;

}
} 
 .coming > i {border: none;
    background-color: black;
    color: red;
    

}
.three{
    margin: 70px 0px;
}
.seven{
    width: 450px;
    height: 400px;
    position: relative;
}

.seven > img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.eleven{
    width: 300px;
    height: 400px;
    position: relative;
}

.eleven > img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}


.eight{
    width: 300px;
    height: 400px;
    position: relative;
    
}

.nine > img{
    width: 300px;
    height: 190px;
    margin-bottom: 20px;
    filter: brightness(50%);
}


.ten > img{
    width: 300px;
    height: 190px;
    filter: brightness(50%);
}

.twelve{
    
    display: flex;
    gap: 10px;
}

.release{
   color: white;
    position: absolute;
    top: 10px;
    text-align: center;
    padding: 20px;
  
}
.read{
    position: absolute;
    bottom: 130px;
    color: white;
    text-align: center;
    padding: 20px;
  
}
.lorem{
    position: absolute;
    bottom: 20px;
   color: white;
   text-align: center;
   padding: 20px;
  
}


.release-eleven{
    color: white;
     position: absolute;
     top: 10px;
     text-align: justify;
     padding: 20px;
  
 }
 .read-eleven{
     position: absolute;
     bottom: 180px;
     color: white;
   padding: 20px;
     
 }
 .lorem-eleven{
     position: absolute;
     bottom: 20px;
    color: white;
    text-align: center;
    padding: 20px;
  
 }


.nine{
    position: relative;
}
 
.release-nine{
    color: white;
     position: absolute;
     top: 10px;
     text-align: center;
     padding: 10px;
  
 }
 .read-nine{
     position: absolute;
     bottom: 150px;
     color: white;
   padding: 10px;
     
 }
 .lorem-nine{
     position: absolute;
    bottom: 0px;
    color: white;
    text-align: center;
    padding: 10px;
  
 }


 .release-ten{
    color: white;
     position: absolute;
     top: 10px;
     text-align: center;
     padding: 10px;
  
 }
 .read-ten{
     position: absolute;
     bottom: 100px;
     color: white;
   padding: 10px;
     
 }
 .lorem-ten{
     position: absolute;
    bottom: 0px;
    color: white;
    text-align: center;
    padding: 10px;
  
 }
 .sixteen > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }
 .seventen > p{
font-size: 10px;
 }
 .seventen > h5{
    font-size: 14px;
     }

     .twelve > .d-flex> img{
        width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;
     }

     .head > img{
       filter: brightness(30%);
     }
     .head{
        position: relative;
        margin-top: 50px;
     }
     .head-text {
        position: absolute;
        top: 30%;
        left: 50px;
     }

     .head-text >h1{
        color: white;
        font-size: 60px;
        margin-bottom: 50px;
     }

     .head-text >p{
        color: white;
        font-size: 15px;
        line-height: 20px;
     }
     .social {
        font-weight: bold;
     }
     .social  i{
       padding: 5px;
       background-color: rgb(199, 73, 73);
       border-radius: 50%;
       margin-top: 50px;
     }

     .icon > i{
        
            padding: 5px;
            background-color: rgb(199, 73, 73);
            border-radius: 50%;
          
     }
     .utwo{
        width: 550px;
        height: 500px;
margin-top: 70px;
margin-bottom: 30px;
     }
     .utwo > iframe{
        width: 100%;
        height: 100%;

     }
     .day{
        margin-bottom: 50px;

     }
     .today{
        font-size: 13px;
        margin-top: 30px;
     }

     .view{
      
        margin-bottom: 30px;
     }


     
     .planet > img{
        filter: brightness(70%);
       
      }

      .planet{
         position: relative;
         margin-top: 50px;
      }
      .planet-text {
         position: absolute;
         top: 30%;
         left: 50px;
      }
 
      .planet-text >h1{
         color: white;
         font-size: 70px;
         margin-bottom: 50px;
      }
 
      .planet-text >p{
         color: white;
         font-size: 20px;
         line-height: 20px;
      }
      @media only screen and (max-width:850px)  {
        
      

     .planet-text {
        position: absolute;
        top: 0%;
        left: 0px;
     }
      }



      
     .keep > img{
        filter: brightness(70%);
       
      }

      .keep{
         position: relative;
         margin-top: 50px;
      }
      .keep-text {
         position: absolute;
         top: 30%;
         left: 50px;
      }
 
      .keep-text >h1{
         color: white;
         font-size: 70px;
         margin-bottom: 50px;
         
      }
 
      .keep-text >p{
         color: white;
         font-size: 20px;
         
      }
      @media only screen and (max-width:850px)  {
        
      

     .keep-text {
        position: absolute;
        top: 20%;
        left: 20px;
     }

     .keep-text >h1{
        color: white;
        font-size: 50px;
        margin-bottom: 50px;
    
     }
      }


      .ufour{
        width: 270px ;
        height: 400px;
        margin: 10px 0px;
        
        position: relative;
      }
      .ufour-text{
        position: absolute;
        bottom: 20px;
        color: white;
        text-align: justify;
      }
      .ufour > img{
        width: 100%;
        height: 100%;
        filter: brightness(80%);
       
      }



      
      .ufive{
        width: 270px ;
        height: 400px;
        margin: 10px 0px;
     
        position: relative;
      }
      .ufive-text{
        position: absolute;
        bottom: 20px;
        color: white;
        text-align: justify;
      }
      .ufive > img{
        width: 100%;
        height: 100%;
        filter: brightness(80%);
       
      }



      .usix{
        width: 270px ;
        height: 400px;
        margin: 10px 0px;
    
        position: relative;
      }
      .usix-text{
        position: absolute;
        bottom: 20px;
        color: white;
        text-align: justify;
      }
      .usix > img{
        width: 100%;
        height: 100%;
        filter: brightness(80%);
       
      }


      .useven{
        width: 270px ;
        height: 400px;
        margin: 10px 0px;
      
        position: relative;
      }
      .useven-text{
        position: absolute;
        bottom: 20px;
        color: white;
        text-align: center;
      }
      .useven > img{
        width: 100%;
        height: 100%;
        filter: brightness(80%);
       
      }
      .more  {
margin-left: 50px;
margin: 50px 50px;
      }

      .footer{
        background-color: black;
        color: white;
      }
      .for > i{
        padding: 5px;
        background-color: rgb(199, 73, 73);
        border-radius: 50%;
      }
      .ueight {
        font-size: 13px;
        color: rgb(191, 196, 201);
      }
      .footer > img {
        width: 70px;
        margin-bottom: 50px;
        margin-top: 20px;
      }


      .footer-one{
        background-color: black;
        color: white;
       
      }
      .first{
       
        margin-top: 130px;
      }
      b{
        border: 1px solid red;
        padding: 0px 10px ;
      }
     

      .footer-two{
        color: white;
        background-color: black;
      }
      .second{
        margin-top: 130px;
      }

      .footer-four{
        color: white;
        background-color: black;
      }
      .footer-four > img{
        width: 30px;
      }

      .footer-three{
        color: white;
        background-color: black;
      }
      .third{
        margin-top: 130px;
      }

      .fourth{
        margin-top: 130px;
      }

      .footer-five{
        color: white;
        background-color: black;
      }

      
      .footer-ten{
        color: white;
        background-color: black;
       font-size: 14px;
       word-spacing: 5px;
      }
      

